<div class="container text-center">
  <h1>WELCOME TO THE GAME</h1>
  <h2>Find the longest word from this random set of letters</h2>
  <h2>When you're ready, press GO</h2>
  <button class="btn btn-info" id="btn-go">GO</button>
  <h3 id="words-secret" class="letter-list hidden"><%= @words.upcase %></h3>
</div>

<div class="container text-center">
  <form class="user-guess" action="/word_game/score">
    <input type="text" id="user-guess-box" name="guess" placeholder="Enter your word">
    <input type="hidden" id="startTime" name="time" value="">
    <br>
    <input class="btn btn-info" id="score-btn" type="submit" value="get my score">
  </form>
</div>

<script>
  $(document).ready(function(){
    $("#btn-go").click(function(e){
      e.preventDefault();
      $(".letter-list").removeClass("hidden");
      var seconds = Math.floor(new Date().getTime() / 1000);
      $("#startTime").val(seconds);
    });
  });

</script>
