<div class="container text-center">
  <h3 class="results">You guessed: <%= @answer %></h3>
  <h3 class="your-time">In <%= @time_taken %> seconds</h3>
  <h3 class="your-score">You scored: <%= @score %></h3>
</div>

